---
import Layout from "@/layouts/Layout.astro"
import {Container, Sidebar} from "@/components/lore";
import {getCollection, render} from 'astro:content';
import {cn, normalizePath} from "@/lib/utils";
export async function getStaticPaths() {
    const lore = await getCollection('lore');
    return lore.map(loreItem => ({
        params: {id: loreItem.id},
        props: {loreItem},
    }));
}
// 2. For your template, you can get the entry directly from the prop
const {loreItem} = Astro.props;
const {Content} = await render(loreItem);

const pathname = Astro.url.pathname;

const getLoreItems = async (category: string) => {
    const loreItems = await getCollection('lore', ({data}) => {
        return data.category === category;
    });

    return loreItems.map(item => ({
        title: item.data.title,
        slug: item.id,
        isActive: normalizePath(pathname) === normalizePath(`/lore/${item.id}`),
    }));
};


const categories = [
    {
        title: '🤖 Technology',
        slug: 'technology',
        items: await getLoreItems('technology'),
    },
    {
        title: '🌃 Locations',
        slug: 'locations',
        items: await getLoreItems('locations'),
    },
    {
        title: '👥️ Organizations',
        slug: 'organizations',
        items: await getLoreItems('organizations'),
    },

    {
        title: '🎭 Characters',
        slug: 'characters',
        items: await getLoreItems('characters'),
    },
    {
        title: '⚔️ Jobs',
        slug: 'jobs',
        items: await getLoreItems('jobs'),
    },
];
---
<Layout title={loreItem.data.title + ' | Lore'}>
    <section class="py-12 lg:py-16">
        <div class="max-w-7xl mx-auto px-5 space-y-8 lg:space-y-12">
            <div class="text-center space-y-1">
                <h1 class="text-3xl md:text-4xl lg:text-6xl xl:text-7xl">
                    {loreItem.data.title}
                </h1>

                <p class="text-lg md:text-xl lg:text-2xl xl:text-3xl">
                    Get to know the world of Cyberblade
                </p>
            </div>

            <Container categories={categories} client:load>
                <div class="pr-8 border-r border-white hidden lg:block">
                    <ul class="space-y-8 lg:space-y-12 sticky top-8 h-[800px] overflow-y-auto overflow-x-hidden py-8 scrollbar-thing pr-4 w-[250px]">
                        {
                            categories.map((category, index) => (
                                    <li>
                                        <h2 class="text-2xl">
                                            {category.title}
                                        </h2>

                                        <ul class="list-disc list-inside mt-2 ps-4">
                                            {
                                                category.items.map((item, listIndex) => (
                                                        <li class={cn('text-lg',
                                                            item.isActive && 'text-brand-primary'
                                                        )}
                                                        >
                                                            <a
                                                                    href={`/lore/${item.slug}`}
                                                                    class="hover:underline"
                                                            >
                                                                {item.title}
                                                            </a>
                                                        </li>
                                                ))
                                            }
                                        </ul>
                                    </li>
                            ))
                        }
                    </ul>
                </div>

                <Sidebar categories={categories} client:load/>

                <div class="mx-auto px-5 w-full">
                    <div class="prose prose-invert max-w-3xl w-full">
                        {
                            Content ? (
                                    <Content/>
                            ) : (
                                    <p class="text-lg">
                                        Lore content is not available at the moment.
                                    </p>
                            )
                        }
                    </div>
                </div>
            </Container>
        </div>
    </section>
</Layout>